/* トップページ用 */
article #top img{
  display:	block;			/* imgタグはインライン要素。marginを適用する為、ブロック要素に変換 */
  margin:	0 auto 1vw;		/* 明示的に指定しないと、中央寄せにならない。下にmargin設定 */
}

article #top figcaption{
	text-align:center;
}

/* フッター */
footer{
	margin: 	0 auto;
	text-align:	center;
}

footer ul, footer li{
	margin:	0;
	padding:0;
}

footer ul{
	display:		flex;
	justify-content:center;
}

footer li{
	display:block;
}

footer a{
	text-decoration:none;
	color:			black;
}

footer a:hover{
	color :gray;
}
footer p{
	color:silver;
}

/* スマートフォン用設定 */
@media screen and (max-width:600px){
	/* メインコンテンツ */
	article section{
	  margin-bottom:15vw;
	}

	article #top img{
		width:			80vw;
		margin-bottom:	4vw;
	}

	article #top figcaption{
		font-size:4vw;
	}

  /* テーブル(divタグを利用して疑似的にtableタグを模倣した実装) */
  article .wrapper .table-type1 .tr .th,
  article .wrapper .table-type1 .tr .td{
	  padding:8px 5px;
  }

  #table-top-spec{
	  max-width:88vw;		/* 画面の最大幅 */
  }

  article #table-top-spec .th{
	  width:		40%;
	  font-size:	4vw;
  }

  /* テーブル(tableタグを利用した実装) */
  th {
	  padding:	1vw;
	  font-size:	4vw;
  }

  td {
	  padding:	1vw;
	  font-size:	4vw;
  }

	/* フッター */
	footer{
		margin-bottom:3vw;
	}

	footer ul{
		margin-bottom: 	1vw;
		font-size:		4vw;
	}

	footer a{
		padding:0.5em;
	}
}

/* PC用設定 */
@media screen and (min-width:601px){
	/* メインコンテンツ */
	article #top h1{
		padding-left: 15%;
	}

	article #top h3{
		padding-bottom: 0.5vw;
	}

	article #top img{
		height:30vw;
	}

	article #top figcaption{
		font-size:0.8vw;
	}

	/* テーブル(divタグを利用して疑似的にtableタグを模倣した実装) */
	article .wrapper .table-type1 .tr .th,
	article .wrapper .table-type1 .tr .td{
		padding:8px 15px;
	}

	#table-top-spec{
		max-width:40vw;		/* 画面の最大幅 */
	}

	article #table-top-spec .th{
		width:30%;
	}

	/* テーブル(tableタグを利用した実装) */
	th {
		padding:		0.2vw;
	}

	td {
		padding:		0.2vw;
	}
	/* フッター */
	footer{
		margin-bottom:3vw;
	}

	footer ul{
		margin-bottom: 1vw;
	}

	footer a{
		padding:0.5em;
	}
}